body {
    background-color: #A874D2;
    color: white;
    margin: 0;
    font-family:Atkinson Hyperlegible;
}
h1 {
    font-size: 3em;
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 2.5em;
}
.logo {
    padding-top: 1em;
    display: flex;
    padding-left: 1.5em;
}


nav {
    background-color: #A874D2;
    padding-bottom: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

nav a {
    text-decoration: none;
    color: white;
    text-align: center;
    display: none;
}



.hamburger {
    display: inline-block;
    position: absolute;
    right: 2em;
    top: 2em;
    width: 20px;
    height: 18px;
    padding: 0;
    cursor: pointer;
}

.hamburger span {
    position: absolute;
    height: 3px;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    transform: all 1s ease-in-out;
}


.hamburger span:nth-child(1) {
    top: 6px;
}

.hamburger span:nth-child(2) {
    top: 12px;
}

#hamburger:checked~.hamburger span:nth-child(1) {
    opacity: 0;
}

#hamburger:checked~.hamburger span:nth-child(2) {
    transform: rotate(45deg);
    top: 6px;
}

#hamburger:checked~.hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    top: 6px;
}

.navLinks {
    transform: none;
}

section div {
    display: flex;
    justify-content: space-around;
}

header a {
    
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-decoration: none;
    color: white;
    background-color: #2EBFA5;
    border-radius: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 150px;
    text-align: center;
    font-size: 1.5em;
}

header img {
    display: block;
    margin: 0 auto;
}

.doel div {
    padding: 1em;
    display: flex;
    flex-direction: column;
}
.doel img {
    display: flex;
    margin-top: -5em;
    width: 100%;
}

.activiteiten p {
    padding: 1em;
}

.activiteiten img {
    display: flex;
    margin-top: -5em;
    width: 100%;
}

.items  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.items div {
    text-align: center;
}

.items div p {
    margin-top: 0em;
}

.vraag {
    display: flex;
    flex-direction: column;
    
}
.vraag div {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    background-color: #F5F5F5;
    color: #21272A;
    border-radius: 20px;
}

.vraag div p {
    padding: 1em;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-top: -1em;
}

form label input {
    border: none;
    border-radius: 10px;
    height: 2em;
}

.bericht {
    height: 8em;
}

.contact img {
    display: block;
    margin: 0 auto;
}
    
.logo1 {
    display: block;
    margin: 0 auto;
}  

footer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
}

footer div img {
    padding: 1em;
}

footer p {
    text-align: center;
}

@media (min-width: 768px) {
    h1 {
        text-align: left;
        padding-left: 0.5em;
        padding-right: 3em;
        font-size: 4.5em;
    }
        header img {
        display: flex;
        width: 60%;
        position: absolute;
        top: 8em;
        z-index: -1;
        right: -5em;
    }
    header a {
        position: absolute;
        left: 6em;
        display: inline-block;
    }
    .Kernwaarden {
        position: relative;
        top: 10em;
    }
    .doel {
        position: relative;
        top: 12em;
        display: flex;
        flex-direction: row;
    }
    .doel div {
        display: flex;
        flex-direction: column;
        order: 2;
        margin: 0;
    }
    .doel div p {
        position: relative;
        top: -2em;
        font-size: 1.5em;
    }
}