body {
    background-color: #A874D2;
    color: white;
    margin: 0;
}

h2 {
    text-align: center;
}


nav {
    background-color: #A874D2;
    

}

nav a {
    text-decoration: none;
    color: white;
    text-align: center;

}

nav li {
    display: flex;
    flex-direction: column;
    list-style: none;
}

#hamburger {
    display: none;
}

.hamburger {
    display: inline-block;
    position: absolute;
    right: 2em;
    top: 2em;
    width: 20px;
    height: 18px;
    padding: 0;
    cursor: pointer;
}

.hamburger span {
    position: absolute;
    height: 3px;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    transform: all 1s ease-in-out;
}


.hamburger span:nth-child(1) {
    top: 6px;
}

.hamburger span:nth-child(2) {
    top: 12px;
}

#hamburger:checked~.hamburger span:nth-child(1) {
    opacity: 0;
}

#hamburger:checked~.hamburger span:nth-child(2) {
    transform: rotate(45deg);
    top: 6px;
}

#hamburger:checked~.hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    top: 6px;
}

.navLinks {
    transform: none;
}

section div {
    display: flex;
    justify-content: space-around;
}

header a {
    
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-decoration: none;
    color: white;
    background-color: #2EBFA5;
    border-radius: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 150px;
    text-align: center;
    
}